Part 1: import and upload the file

In [171]:
import pandas as pd
from google.colab import files
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
files.upload()

{}

Part 2: Load the data and make sure there are no extra index columns. Show the shape of the data AND the head of the data

In [172]:
#inport data as excel and make it a dataframe
df = pd.read_excel('messed_up_iris.xlsx',index_col=0)
pd.DataFrame(df)

#head
print(df.head())

#shape
print(df.shape)
print(df.info())

   sepal_length  sepal_width  petal_length  petal_width species   color  origin
0           5.1          3.5           1.4          0.2  setosa   green     usa
1           4.9          3.0           1.4          0.2  setosa  yellow     usa
2           4.7          3.2           1.3          0.2  setosa   green     usa
3           4.6          3.1           1.5          0.2  setosa  orange   japan
4           5.0          3.6           1.4          0.2  setosa    blue  europe
(150, 7)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 0 to 149
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  137 non-null    float64
 1   sepal_width   138 non-null    float64
 2   petal_length  137 non-null    float64
 3   petal_width   143 non-null    float64
 4   species       145 non-null    object
 5   color         73 non-null     object
 6   origin        145 non-null    object
dtypes: float64(4), object(3)
memory usage: 9.4+ KB
None

Part 3:Remove columns and rows where there are more than 50% of the data missing. Show the shape of the data after you have removed those columns/rows

In [173]:
#when one column contains less than 75 not nas, drop it
df = df.dropna(thresh = len(df)/2, axis = 1)

# when rows contain less  than 4 not NAs(since 7 column in total, less than 4 would mean 4 or more NAs), drop it
df = df.dropna(thresh = 4, axis = 0)

#print shape
print(df.shape)

(145, 6)

Part 4:Remove duplicate data

In [174]:
#we find 8 duplicates
print(df[df.duplicated(keep=False)])

#we keep one copy of each duplicates so we drop 6 of them
df = df.drop_duplicates(ignore_index=True) 

#here's our new shape!
print(df.shape)

    sepal_length  sepal_width  petal_length  petal_width species  origin
21           5.1          3.7           1.5          0.4  setosa  europe
34           5.1          3.7           1.5          0.4  setosa  europe
37           4.9          3.6           1.4          0.1  setosa   japan
42           5.1          3.7           1.5          0.4  setosa  europe
59           4.9          3.6           1.4          0.1  setosa   japan
71           4.9         36.0           1.4          0.1  setosa   japan
82           4.9         36.0           1.4          0.1  setosa   japan
87           4.9          3.6           1.4          0.1  setosa   japan
(140, 6)

Part 5 : Dummy code the categorial variables



```

In [175]:
print(df['species'].value_counts())
print(df['origin'].value_counts())

# we gonna change the typo to its orginal value
#For species
df['species'] = np.where(df['species'] == 'seotsa','setosa',df['species'])
df['species'] = np.where(df['species'] == 'versicolr','versicolor',df['species'])
df['species'] = np.where(df['species'] == 'west virginia','virginica',df['species'])
df['species'] = np.where(df['species'] == 'virginia','virginica',df['species'])

#For origin
df['origin'] = np.where(df['origin'] == 'uas','usa',df['origin'])
df['origin'] = np.where(df['origin'] == 'euarope','europe',df['origin'])

#double chekc if we fixted type
print(df['species'].value_counts())
print(df['origin'].value_counts())

# use pd get dumies to change them to dummies and store it in a new data frame
species = pd.get_dummies(df['species'], drop_first = True)
origin = pd.get_dummies(df['origin'], drop_first = True)


#combine them with our original data frame
df = pd.concat([df, species, origin],axis=1)
df.head()

virginica        47
setosa           46
versicolor       42
seotsa            2
versicolr         1
west virginia     1
virginia          1
Name: species, dtype: int64
usa        49
europe     46
japan      42
uas         2
euarope     1
Name: origin, dtype: int64
virginica     49
setosa        48
versicolor    43
Name: species, dtype: int64
usa       51
europe    47
japan     42
Name: origin, dtype: int64

   sepal_length  sepal_width  petal_length  ...  virginica japan usa
0           5.1          3.5           1.4  ...          0     0   1
1           4.9          3.0           1.4  ...          0     0   1
2           4.7          3.2           1.3  ...          0     0   1
3           4.6          3.1           1.5  ...          0     1   0
4           5.0          3.6           1.4  ...          0     0   0

[5 rows x 10 columns]

Part 6: drop redundant columns

In [176]:
#remove species and origin
df = df.drop(columns=['species', 'origin'])

Part 7: Remove outliers above 2 standard deviations

In [177]:
# we remove all the values that is higher than upper limits(calculate by mean of that facotor + 2 standard deviation) and lower than lower limite(calculate by mean of that facoor - 2 standard deviation)
# the outliers above 2 standard deviations was changed to NAs
#for sepcal length
df['sepal_length'] = df[(df['sepal_length'] < (df['sepal_length'].mean()+2*df['sepal_length'].std())) & (df['sepal_length'] > (df['sepal_length'].mean()-2*df['sepal_length'].std()))]

#for sepal width
df['sepal_width'] = df[(df['sepal_width'] < (df['sepal_width'].mean()+2*df['sepal_width'].std())) & (df['sepal_width'] > (df['sepal_width'].mean()-2*df['sepal_width'].std()))]

#for petal length
df['petal_length'] = df[(df['petal_length'] < (df['petal_length'].mean()+2*df['petal_length'].std())) & (df['petal_length'] > (df['petal_length'].mean()-2*df['petal_length'].std()))]

#for petal width
df['petal_width'] = df[(df['petal_width'] < (df['petal_width'].mean()+2*df['petal_width'].std())) & (df['petal_width'] > (df['petal_width'].mean()-2*df['petal_width'].std()))]

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  128 non-null    float64
 1   sepal_width   120 non-null    float64
 2   petal_length  119 non-null    float64
 3   petal_width   124 non-null    float64
 4   versicolor    140 non-null    uint8
 5   virginica     140 non-null    uint8
 6   japan         140 non-null    uint8
 7   usa           140 non-null    uint8
dtypes: float64(4), uint8(4)
memory usage: 5.0 KB

Part 8; replace with the median value

In [185]:

#devided our df to three df with respect to three species
df_versi = df[df['versicolor'] == 1]
df_virginica = df[df['virginica'] == 1]
df_setosa = df[(df['versicolor'] == 0) & (df['virginica'] == 0)]


#fill in na with median value of each species
df_versi = df_versi.fillna(df_versi.median())

df_virginica = df_virginica.fillna(df_virginica.median())

df_setosa= df_setosa.fillna(df_setosa.median())

#combine the three df for three species together!
df = pd.concat([df_versi, df_virginica, df_setosa], axis = 0, ignore_index=True)

Part 9: skip the bonus

Part 10: Show off!

In [189]:
# print if each colmun contians NA
print(df.isnull())

#print all the rows that contian NAs(which is a empty dataframe because we remove all missing values!)
is_Na = df.isnull()
row_has_Na = is_Na.any(axis=1)
rows_with_Na = df[row_has_Na]

# Show off!!!!!!!!
print(rows_with_Na)
print("there are no missing data!")
print(df.describe())

     sepal_length  sepal_width  petal_length  ...  virginica  japan    usa
0           False        False         False  ...      False  False  False
1           False        False         False  ...      False  False  False
2           False        False         False  ...      False  False  False
3           False        False         False  ...      False  False  False
4           False        False         False  ...      False  False  False
..            ...          ...           ...  ...        ...    ...    ...
135         False        False         False  ...      False  False  False
136         False        False         False  ...      False  False  False
137         False        False         False  ...      False  False  False
138         False        False         False  ...      False  False  False
139         False        False         False  ...      False  False  False

[140 rows x 8 columns]
Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, versicolor, virginica, japan, usa]
Index: []
there are no missing data!
       sepal_length  sepal_width  ...       japan         usa
count    140.000000   140.000000  ...  140.000000  140.000000
mean       5.848571     5.838214  ...    0.300000    0.364286
std        0.819939     0.811886  ...    0.459903    0.482957
min        4.300000     4.300000  ...    0.000000    0.000000
25%        5.100000     5.100000  ...    0.000000    0.000000
50%        5.800000     5.800000  ...    0.000000    0.000000
75%        6.425000     6.425000  ...    1.000000    1.000000
max        7.900000     7.900000  ...    1.000000    1.000000

[8 rows x 8 columns]