In [14]:
import pandas as pd
import numpy as np
from google.colab import files
files.upload()

{}

In [51]:
data = pd.read_csv('problem_set_1_data.csv')

In [53]:
data= data.rename(columns={"quizzes": "quiz_total", "attendedClass": "attended", "finalgrade": "final_grade","final_EXAM": "final_exam","student": "name"})
print(data.head())
print(data.tail())
print(data.describe())

   quiz_total  attended  final_grade  final_exam               name
0       78.50         1        99.38          46       Linnie Lietz
1       64.25         0        95.78          45      Mitch Mustain
2       76.75         0        97.42          41     Salina Chavera
3       69.00         1        92.50          38  Kimberely Conwell
4       64.00         0        92.50          39          Zack Burk
     quiz_total  attended  final_grade  final_exam                 name
166        73.5         0        96.25          45           Dana Malta
167        75.5         0        98.13          44         Sixta Heyden
168        41.0         0        69.38          32       Brianne Broome
169        77.0         0       101.25          47  Elouise Weatherholt
170        72.0         0        92.81          38        Addie Maharaj
       quiz_total    attended  final_grade  final_exam
count  171.000000  171.000000   171.000000  171.000000
mean    69.131579    0.192982    91.855380   39.672515
std      9.488473    0.395798     9.487795    5.511304
min      0.000000    0.000000     2.500000    0.000000
25%     65.500000    0.000000    89.380000   37.000000
50%     72.000000    0.000000    93.130000   40.000000
75%     75.500000    0.000000    96.360000   44.000000
max     79.500000    1.000000   104.380000   49.000000

The mean of quize:total is 69.13

The mean of attended is 0.19(which is meaningless)

The mean of final grade is 91.86

The mean of final exame is 39.67

Student is categorical variable thus does not have a mean.

In [63]:
boolean_index = data['attended'] == 1
print(boolean_index)

data_attended = data[boolean_index]
data_notattended = data[boolean_index== False]
print(data_attended)
print(data_notattended)
print("")

print(data_attended['quiz_total'].mean(),
data_attended['final_grade'].mean(),
data_attended['final_exam'].mean())

print(data_notattended['quiz_total'].mean(),
data_notattended['final_grade'].mean(),
data_notattended['final_exam'].mean())

0       True
1      False
2      False
3       True
4      False
       ...
166    False
167    False
168    False
169    False
170    False
Name: attended, Length: 171, dtype: bool
     quiz_total  attended  final_grade  final_exam                 name
0         78.50         1        99.38          46         Linnie Lietz
3         69.00         1        92.50          38    Kimberely Conwell
5         63.00         1        89.38          36         Almeda Rizer
15        71.00         1        90.63          40          Mercy Dugal
16        77.00         1       101.25          46      Augustine Clair
27        75.00         1       101.25          45        Codi Whitcher
32        72.00         1        94.69          38           Nan Castro
36        73.00         1        87.81          33        Fern Iadarola
38        74.50         1        98.13          43        Delilah Starr
41        77.00         1       100.00          43         Maisie Monti
43        74.00         1        99.06          46        Shenna Tregre
44        68.00         1        89.38          35         Owen Meagher
46        70.00         1        91.25          38      Carolyne Soltis
60        74.00         1        90.94          36       Dulcie Furtado
63        75.50         1        93.13          38        Liberty Elzey
78        73.00         1        94.38          42            Min Peake
83        75.50         1       101.25          46          Tamica Wann
84        74.50         1        94.69          39       Danette Prisco
103       78.50         1       100.31          47        Nicolasa Benn
109       63.00         1        89.38          38      Kathryn Dickens
113       64.00         1        93.75          43    Annabelle Brierly
117       76.25         1        98.91          44       Dalila Sonntag
121       54.00         1       101.07          47       Laila Daddario
132       69.75         1        85.47          33      Clemente Griner
138       73.50         1        96.25          40      Claudette Ownby
142       77.00         1        97.50          40          Don Connell
148       65.50         1        86.25          38       Laurie Braziel
150       78.00         1        96.25          38  Shavonda Oesterling
151       77.00         1        93.75          40          Cristi Chae
155       78.00         1        99.38          42      Latarsha Madore
159       77.50         1       100.00          45        Carlyn Matson
162       73.50         1        95.63          39          Les Shehorn
163       72.50         1        94.38          39      Demarcus Kenney
     quiz_total  attended  final_grade  final_exam                 name
1         64.25         0        95.78          45        Mitch Mustain
2         76.75         0        97.42          41       Salina Chavera
4         64.00         0        92.50          39            Zack Burk
6         73.50         0        95.94          43        Damien Ellett
7         70.50         0        95.00          40        Lora Sobieski
..          ...       ...          ...         ...                  ...
166       73.50         0        96.25          45           Dana Malta
167       75.50         0        98.13          44         Sixta Heyden
168       41.00         0        69.38          32       Brianne Broome
169       77.00         0       101.25          47  Elouise Weatherholt
170       72.00         0        92.81          38        Addie Maharaj

[138 rows x 5 columns]

72.5 95.07212121212123 40.63636363636363
68.32608695652173 91.08615942028983 39.44202898550725

THe average quiz total for those who attended class is higher than those who did not attended class(72.5> 68.33)

The average final grade for those who attended class is higher than those who did not attended class(95.07> 91.09)

THe average final_exame for those who attended class is slight higher than those who did not attended class(40.63> 39.44)

In [78]:
print(data[data.duplicated(['final_grade', "final_exam"])])
print(data.iloc[130,4])
print(data.iloc[139,4])

     quiz_total  attended  final_grade  final_exam                 name
52         70.0         0        90.00          40       Jana Satterlee
57         65.0         0        89.38          35         Winfred Haug
61         71.0         0        96.25          43        Laine Dowling
83         75.5         1       101.25          46          Tamica Wann
89         77.0         0        98.75          44     Kimbery Almaguer
104        75.0         0        97.50          46        Clark Gribble
110        72.5         0        97.81          44     Elfriede Gothard
130        67.5         0        95.94          43           Sade Byham
139        75.5         0        95.94          43    Arlette Hornbaker
140        72.5         0        90.00          35        Vincent Staub
151        77.0         1        93.75          40          Cristi Chae
152        69.0         0        95.00          42        Brock Crocket
156        71.0         0        95.31          41  Margarite Kaczmarek
158        60.5         0        91.56          41        Isobel Hobart
167        75.5         0        98.13          44         Sixta Heyden
170        72.0         0        92.81          38        Addie Maharaj
Sade Byham
Arlette Hornbaker